@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');
.about-main-container {
   width: 90vw;  
   margin: 40px auto; 
   height: max-content; 
   display: flex;
   align-items: flex-start;
   flex-direction: column;    
}

.line-container {
   width: 100%;  
   height: max-content;
   display: flex;
   flex-direction: row; 
   justify-content: space-between;
   align-items: center;    
}

.line-container #left-line , .line-container #right-line {
   width: 45%; 
}

.line-container #content {
   font-family: 'Qwitcher Grypen', serif;
   font-size: 2.5rem;
}


.swiper {
    width: 100%;
    height: min-content;
}

.swiper-slide {
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center; 
}

.swiper-slide img {
  object-fit: cover;  
  border-radius: 10px;
  box-shadow: 5px 5px 10px 10px rgba(148, 141, 141, 0.05);
}


@media screen and (max-width: 400px) {  
    .swiper-slide img{
       width: 300px;
    }
    
    .line-container #content {
        font-size: 0.9rem;
    }
}